body {
  background: #a61b0f;
  margin-right: 15rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50%;
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




